

  <form id="form" action="/weather/location">
    <label for="name">Name:</label>
    <input name="name" type="text" placeholder="Name">
    
    <br><br>
    
    <input type="submit" value="Submit">
  </form>